<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/forgotPasswordPage.css">
</head>
<body>
    <div id="pass_container" class="d-flex flex-column justify-content-center align-items-center">
        <div id="pass_div" class="d-flex justify-content-center align-items-center shadow-lg">
            <form action="/forgot_password" method="post" class="d-flex flex-column justify-content-center align-items-center">
                <h1>Reset Password</h1>
                <input type="email" class="my-2" placeholder="Email" name="email"/>
                <input type="password" class="my-2" name="new_password" placeholder="New_Password"/>
                <input type="password" class="my-2" name="confirm_password" placeholder="Re-enter Password" />
                <button type="submit" class="my-2"> Change Pasword </button>
            </form>
        </div>
    </div>
    <script>
        // displaying the noty.js notification
        <% if(flash.success && flash.success.length>0) {%>
            new Noty({
                theme: 'relax',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 2000
            }).show();
        <%}%>
    
        <% if(flash.error && flash.error.length>0) {%>
            new Noty({
                theme: 'relax',
                text: '<%= flash.error %>',
                type: 'error',
                layout: 'topLeft',
                timeout: 2000
            }).show();
        <%}%>
    
    </script>
</body>
</html>